@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Reset CSS + Set Font Family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* Root Color */
:root {
    --white-cl: #ffffff;
    --bgr-cl: #f4f4f8;
    --blur-cl: #c2bdc3;
    --gray-cl: #a4adc6;
    --text-cl: #151323;
    --active-cl: #264bd7;
    --action-cl: #eb2527;
}

/* Base */
.main {
    flex-wrap: nowrap !important;
}

.low-opa:hover {
    opacity: 0.7;
}.low-opa:hover.active {
    opacity: 1;
}

/* Nav */
.nav {
    background-color: var(--white-cl);
    box-shadow: 1px 0px 2px 0px rgb(0 0 0 / 10%);
}

.nav__info-user {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav__level-user {
    display: block;
    position: absolute;
    top: 7%;
    right: 50%;
    transform: translateX(150%);
    color: var(--white-cl);
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 1.5px 7px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #fd8890 0%, #fe001d 100%);
}

.nav__info-user-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 6px 6px 6px rgb(0 0 0 / 8%);
}

.nav__info-user-name {
    font-size: 1.5rem;
    font-weight: 530;
    margin-top: 12px;
    color: var(--text-cl);
    display: block;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.nav__info-user-mail {
    font-size: 1.15rem;
    font-weight: 300;
    color: var(--gray-cl);
    display: block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.nav__list {
    list-style: none;
    margin: 44px 0 0 12%;
}

.nav__list span {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--gray-cl);
    margin: 22px 0 12px 3px;
    display: block;
}

.nav__list-item-link {
    text-decoration: none;
    color: var(--text-cl);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 8px 3px;
    font-weight: 500;
}

.nav__list-item-link i {
    font-size: 1.7rem;
    color: var(--gray-cl);
    margin-right: 12px;
}

.nav__list-item-link.active,
.nav__list-item-link.active i {
    color: var(--active-cl);
}

/* Container */
.container {
    background-color: var(--bgr-cl);
}

/* Header */
.header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgr-cl);
    z-index: 1;
}

#bar {
    font-size: 2.2rem;
    margin-right: 18px;
    color: var(--text-cl);
    padding: 6px;
    cursor: pointer;
    display: none;
}

.close__bar {
    position: absolute;
    color: var(--text-cl);
    font-size: 2.2rem;
    top: 8px;
    right: 10px;
    padding: 6px;
    cursor: pointer;
}

.header__search {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.header__search-input {
    outline: none;
    border: 1px solid var(--gray-cl);
    border-radius: 20px;
    width: 320px;
    padding: 7px 24px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-cl);
    font-size: 1.2rem;
    margin-right: 24px;
}

.header__setting {
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__setting i {
    font-size: 1.9rem;
    color: var(--gray-cl);
    padding: 6px 7px;
    cursor: pointer;
}

.header__setting-noti {
    position: relative;
}

.header__setting-noti::after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 9px;
    left: 19px;
    background-color: var(--action-cl);
}

.header__upgrade {
    cursor: pointer;
    margin-left: 7px;
    border-radius: 4px;
    padding: 6px 14px;
    background: linear-gradient(to right, #ff041f 0%, #ff7983 100%);
}

.header__upgrade a {
    color: var(--white-cl);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Today Choice */
.choice-wrap {
    margin: 90px 30px 0 30px;
}

.choice__heading {
    margin-bottom: 10px;
}

.choice__heading h3 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text-cl);
    line-height: 1.2rem;
}

.choice__heading-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice__heading-desc span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-cl);
}

.choice__heading-desc span i {
    font-size: 2.2rem;
    padding: 4px;
    cursor: pointer;
    color: var(--text-cl);
}

.choice__heading-desc span i:hover {
    color: var(--blur-cl);
}

.choice__content {
    display: flex;
    justify-content: space-between;
}

.choice__item {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 2px rgb(0 0 0 / 10%);
}

.choice__item::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 20px solid var(--white-cl);
    cursor: pointer;
}

.choice__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
    filter: brightness(80%);
}

.choice__item img:hover {
    cursor: pointer;
    transform: scale(1.15);
    opacity: 1;
    filter: brightness(100%);
}

.main-area {
    justify-content: center;
    margin: 30px 0;
}

.songs-list {
    margin: 0 12px 0 30px;
}

.main-area__heading h3,
.main-area__heading-disc h3 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text-cl);
}

.main-area__heading span {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
}

.main-area__heading span a {
    text-decoration: none;
    color: var(--gray-cl);
}

.songs-list__songs {
    margin-top: 24px;
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.songs-list__songs::-webkit-scrollbar {
    width: 6px;
  }
.songs-list__songs::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.songs-list__songs::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #fd8890 0%, #fe001d 100%);
    border-radius: 50px;
}

.song {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-cl);
    padding: 7px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
}

.song.playing {
    background: linear-gradient(to right, #ff041f 0%, #f96b76 100%);
}.song.playing .song-info,
.song.playing .song-info__author,
.song.playing .song-info__name {
    color: var(--white-cl);
}.song.playing .love.active {
    color: var(--white-cl);
}

.song-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.song-info img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 12px;
}

.song-info__number {
    font-size: 1.3rem;
    margin-right: 10px;
}

.song-info__author {
    font-size: 1.3rem;
    color: #999;
    margin-right: 10px;
    display: block;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-info__dash {
    margin-right: 10px;
    font-size: 1.3rem;
}

.song-info__author:hover {
    cursor: pointer;
    color: var(--text-cl);
}

.song-info__name {
    font-size: 1.3rem;
    color: var(--text-cl);
    display: block;
    max-width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.love {
    color: var(--gray-cl);
    font-size: 1.7rem;
    padding: 6px;
    cursor: pointer;
}

.love.active {
    color: var(--action-cl);
}

.song-player {
    width: 100%;
    flex: 1;
    margin: 0 30px 0 12px;
}

.song-player__playing {
    margin-top: 24px;
    width: 100%;
    height: 370px;
    background-color: var(--white-cl);
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 10%);
    background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(222, 168, 248, 1) 0%,
    rgba(168, 222, 248, 1) 21.8%,
    rgba(189, 250, 205, 1) 35.6%,
    rgba(243, 250, 189, 1) 52.9%,
    rgba(250, 227, 189, 1) 66.8%,
    rgba(248, 172, 172, 1) 90%,
    rgba(254, 211, 252, 1) 99.7%
  );
}

.song-player__disc {
    width: 68%;
    height: 70%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-cl);
    border-radius: 12px;
    box-shadow: 0px 1px 11px 1px rgb(0 0 0 / 10%);
    position: relative;
}

.disc-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.disc-wrap img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 10%);
}

.disc-wrap__name {
    text-align: center;
    margin: 18px 0 3px;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    max-width: 85%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disc-wrap__author { 
    text-align: center; 
    width: 100%;
    max-width: 75%;  
    font-size: 1.2rem;
    color: #999;
    display: block;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 18px;
}

.progress-area{
    height: 4px;
    width: 85%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: var(--active-cl);
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}
.progress-area .song-timer{
    margin-top: 2px;
}

.song-timer {
    display: flex;
    justify-content: space-between;
}
.song-timer span{
    font-size: 1.2rem;
    color: var(--gray-cl);
}

.song-action {
    position: absolute;
    bottom: -24%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song-action i {
    font-size: 2.3rem;
    color: var(--gray-cl);
    padding: 4px;
    cursor: pointer;
}

i.play, i.pause {
    padding: 6px;
    color: var(--active-cl);
    background-color: var(--white-cl);
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%);
}

.play.active {
    display: none;
}.play.active ~ i.pause {
    display: block;
}

.pause, .repeat-one, .random {
    display: none;
}

.repeat {
    color: var(--active-cl);
    cursor: pointer;
}

.vol {
    z-index: 1;
}

.vol.active ~ .volume-bar {
    display: flex;
}

.volume-bar {
    width: 12%;
    height: 280%;
    background-color: var(--white-cl);
    border-radius: 4px;
    position: absolute;
    bottom: 95%;
    right: 3.6%;
    animation: volFadeIn ease-in 0.2s;
    transition: transform ease-in 0.2s;
    justify-content: center;
    box-shadow: 0px 1px 11px 1px rgb(0 0 0 / 10%);
    display: none;
}

@keyframes volFadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.volume-bar__range {
    position: absolute;
    top: -2px;
    height: 2px;
    width: 75px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    background-color: var(--blur-cl);
    margin-top: 50px;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}
  
.volume-bar__range::-webkit-slider-thumb {
    border: 3px solid #fff;
    padding: 3px;
    width: 6px;
    -webkit-appearance: none;
    height: 6px;
    background: #264bd7;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 7px 0 rgb(0 0 0 / 10%);
}

/* Tablet + Mobile */
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 2;
}

.nav__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 230px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 2;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* -----------------------GRID CSS--------------------------- */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* ToastMessage */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99999;
  }
  .toast{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius:  6px;
    border-left: 4px solid;
    padding: 8px 0;
    min-width: 400px;
    max-width: 450px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    /* animation: slideInleft ease .5s, fadeOut linear 1s 3s forwards; */
    
  }
  @keyframes slideInleft {
    from{
        transform: translate(calc(100% + 32px));
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
  }
  @keyframes fadeOut{
    0% {
        opacity: .6;
        transform: translateX(0%);
      }
    75% {
            max-height: 15rem;
            opacity: 0;
            transform: translateX(100%);
    }
    100% {
            max-height: 0;
            padding: 0;
            transform: translateX(100%);
    }
}
  .toast--success{
    border-color: #47d864;
  }
  .toast--success .toast__icon{
    color: #47d864;
  }
  .toast--info{
    border-color: #2f86eb;
  }
  .toast--info .toast__icon{
    color: #2f86eb;
  }
  .toast--warning{
    border-color: #ffc021;
  }
  .toast--warning .toast__icon{
    color: #ffc021;
  }
  .toast--error{
    border-color: #ff623d;
  }
  .toast--error .toast__icon{
    color: #ff623d;
  }
  .toast + .toast{
    margin-top: 24px;
  }
  .toast__icon{
    font-size: 24px;
  }
  .toast__close,
  .toast__icon{
    padding: 0 16px;
  }
  .toast__body{
    flex-grow: 1;
  }
  .toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  .toast__message{
    font-size: 14px;
    margin-top: 4px;
    color: #888;
    line-height: 1.5;
  }
  .toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .btn--success{
    background-color: #47d864;
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 30%;
  }
  .btn--info{
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: #2f86eb;
  }
  .btn--warning{
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: #ffc021;
  }
  .btn--error{
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: #ff623d;
  }
  /* .toast .progress {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3.3px;
    width: 100%;
  
  } */
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 0 0 0 0.5rem;
    transform-origin: left;
  }
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        64.5deg,
        rgba(245, 116, 185, 1) 14.7%,
        rgba(89, 97, 223, 1) 88.7%
      )
  }

  
  .progress.active:before {
    animation: progress 2.8s ease-in-out forwards;
  }
  
  @keyframes progress {
    100% {
      right: 100%;
    }
  }